Startupeando/bin/Debug/netcoreapp3.1/appsettings.Development.json
Startupeando/bin/Debug/netcoreapp3.1/appsettings.json
Startupeando/bin/Debug/netcoreapp3.1/Startupeando.deps.json
Startupeando/bin/Debug/netcoreapp3.1/Startupeando.dll
Startupeando/bin/Debug/netcoreapp3.1/Startupeando.exe
Startupeando/bin/Debug/netcoreapp3.1/Startupeando.pdb
Startupeando/bin/Debug/netcoreapp3.1/Startupeando.runtimeconfig.dev.json
Startupeando/bin/Debug/netcoreapp3.1/Startupeando.runtimeconfig.json
Startupeando/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
Startupeando/obj/project.assets.json
Startupeando/obj/project.nuget.cache
Startupeando/obj/Startupeando.csproj.nuget.dgspec.json
Startupeando/obj/Startupeando.csproj.nuget.g.props
Startupeando/obj/Startupeando.csproj.nuget.g.targets
Startupeando/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Startupeando/obj/Debug/netcoreapp3.1/project.razor.json
Startupeando/obj/Debug/netcoreapp3.1/Startupeando.AssemblyInfo.cs
Startupeando/obj/Debug/netcoreapp3.1/Startupeando.AssemblyInfoInputs.cache
Startupeando/obj/Debug/netcoreapp3.1/Startupeando.assets.cache
Startupeando/obj/Debug/netcoreapp3.1/Startupeando.csproj.CoreCompileInputs.cache
Startupeando/obj/Debug/netcoreapp3.1/Startupeando.csproj.FileListAbsolute.txt
Startupeando/obj/Debug/netcoreapp3.1/Startupeando.csprojAssemblyReference.cache
Startupeando/obj/Debug/netcoreapp3.1/Startupeando.dll
Startupeando/obj/Debug/netcoreapp3.1/Startupeando.exe
Startupeando/obj/Debug/netcoreapp3.1/Startupeando.genruntimeconfig.cache
Startupeando/obj/Debug/netcoreapp3.1/Startupeando.MvcApplicationPartsAssemblyInfo.cache
Startupeando/obj/Debug/netcoreapp3.1/Startupeando.pdb
Startupeando/obj/Debug/netcoreapp3.1/Startupeando.RazorTargetAssemblyInfo.cache
Startupeando/obj/Debug/netcoreapp3.1/staticwebassets/Startupeando.StaticWebAssets.Manifest.cache
Startupeando/obj/Debug/netcoreapp3.1/staticwebassets/Startupeando.StaticWebAssets.xml
Startupeando/.vscode/launch.json
Startupeando/.vscode/tasks.json
